/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: •;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*body {
    background-color:#F0F8FF;
}*/

/*=====
Media Queries (icons)
=======*/

#icon {
    background-position:0 0;
    height:20px;
    width:20px;}
    
    /*desktop*/
    @media only screen and (min-width: 960px)  and (max-width: 1140px){
        body { min-width:960px; }
    
    #icon {
            background-position:-20px 0;
            height:20px;
            width:20px;}
          }

/*tablets*/
    @media only screen and (min-width: 768px) and (max-width: 959px) {
        body { min-width:768px; }

    #icon {
            background-position:-32px 0px;
            height:15px;
            width:15px;
          }
}

/*mobile*/
@media only screen and (min-width: 480px) and (max-width: 767px) {

    body { min-width:480px; }

    #icon {
            background-position:-50px 0px;
            /*height:12px;*/
          }
          
}

/*====/
Classes
====*/

h1{
  font-family:"Hind";
  font-weight:800;
  font-size: 40px;
  color: #008080;
}

h2{
  font-family:"Hind";
  font-size:20px;
  color:#00C8FF;
}

h3{
  font-family: "Hind";
  font-size:20px;
  color:#00C8FF;
}

hr{
    border: 0;
    height: 0;
    width:60%;
    max-width:500px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#line{
  padding-left:15%;
}

footer{
  font-family:"Hind";
  font-weight:400p;
  font-size:11px;
  padding-left:15%;
  padding-top:2%;
}

.flex-container{
  display:flex;
  align-items:flex-start;
  align-content: flex-start;
  flex-direction: row;
  justify-content: space-between;
  padding-left:15%;
  margin-bottom:;
  width:100vw;
  max-width:202px;
  list-style: none;
}

.text{
  font-family:"Hind";
  font-weight:400;
  font-size:15.5px;
  line-height: 20px;
}

.list{
  font-family: "Hind";
  width: 60%;
  max-width:500px;
  padding-left:17%;
  padding-top:2%;
}

.dacs{
  font-family: "Hind";
  font-weight:300;
  font-size:13px;
}

/*====/
IDs
====*/

#website-wrapper{
  padding-top:5%;
}

#jumbotron{ 
  margin-left:15%;
  width:60%;
  max-width:203px;
}

#container {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 0;
  width: 1050px;
  height: 500px;
}

#bio{
  width:60%;
  max-width:500px;
  padding-left:15%;
  padding-top:2%;
}

#bio-2{
  width:60%;
  font-weight:600;
  max-width:500px;
  padding-top:1%;
  padding-left:15%;
}

#jumbotron:hover{
  cursor:pointer;
}

.verbs:hover{
  cursor:pointer;
  display:inline-block; /*By default spans are inline, which absorbs the properties of p. Inline-block ignores p.*/
  border-color: #008080;
}

.verbs{
  display:inline-block; /*By default spans are inline, which absorbs the properties of p. Inline-block ignores p.*/
  border-bottom: 2px solid transparent;
}

.verbs.active{
  border-color: #008080;
}

/*====/
Links
====*/

  a {
    color:#008080;
  }

  a:hover{
    font-weight:500;
    color:#008080;
  }

ul a{
  color: black;
}

em{
  color:#008080;
}

/*=====/
Social Media
======*/

#mail{
  padding-top: 4%;
  margin-left:5%;
}

#twitter{
  padding-top: 4%;
  margin-left:5%;
}

#soundcloud{
  position: fixed;
  top:125px;
  left: 255px;
}

#linkedin{
  position:fixed;
  top: 125px;
  left: 302px;
}

#GitHub{
  position: fixed;
  top:125px;
  left:349px;
}